.yellow-bg{
    background-color: yellow;
    text-decoration: underline;
}
.gray-bg{
    background-color: gray;
}
span#year{
    color: red;
    text-decoration: solid;
    font-style: oblique;
}